// Global variables
//colors

$color-primary: #F8F8F8;
$color-white: #fff;
$color-grey: #D0CFCF;
$color-button-primary: #F4E041;
$color-button-hover: #FFE302;
$color-button-disable: #B4B4B4;
$color-black: #000;
$color-text-gray: #7E7E7E;
$color-text-black: #000;
$color-text-white: #fff;
$color-button-disabled: #B4B4B4;
$color-error: #FF0000;

// Font

$fw-400: 400;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;

$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-24: 24px;
$fs-32: 32px;
$fs-40: 40px;


$lh-26: 26px;
$lh-32: 32px;
$lh-40: 40px;


$ff-Nunito: 'Nunito', sans-serif;

// Width

$max-width: 1170px;

// Button

$button-width: 100px;
$button-hight: 34px;
$button-border-radius: 50px;

$padding-button: 4px 22px;

// Loader

$loader-width:48px;
$loader-height:48px;

// Card

$card-width: 370px;
$card-height: 254px;
$card-phone-width: 328px;

$card-photo-width: 70px;
$card-photo-height: 70px;
$card-photo-radius: 50%;

// Media

$mobile-media-width: 360px;
$pad-media-width: 768px;
$desktop-media-width: 1240px;


// Margins

$mb-50: 50px;
$mb-140: 140px;

// Padding

$padding-16: 16px;
$padding-17: 17px;
$padding-100: 100px;

// Form input

$input-width: 380px;
$input-width-phone: 328px;
$input-height: 54px;
$input-border-radius: 4px;
$input-border-color: #D0CFCF;

$radio-gap: 7px;
$radio-width: 20px;
$radio-height: 20px;
$color-radio: #00BDD3;

$input-gap: 16px;