@import "../../styles/main.scss";

.header {
  background-color: $color-white;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: $max-width;
  }

  &__logo {
    padding: $padding-17;

    &--img {
      width: $logo-width;
      height: $logo-height;
      }
  }

  &__buttons {
    display: flex;
    gap: 10px;
    margin-right: 16px;
  }
}